<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mytask.taskmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.myaccounts.myvbilling_new.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".application.MyTaskManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/my_taskmanager"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcvBgau1as93ktTdz-iGO3_PaHamOZz-U" />
        <activity
            android:name=".LoginSetup.SplashScreen"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            >
        </activity>
        <activity
            android:name=".LoginSetup.ForgotPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            >
        </activity>
        <activity
            android:name=".LoginSetup.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".LoginSetup.OtpConfirmationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".LoginSetup.RegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            >
        </activity>
        <activity
            android:name=".activity.RecordAudioActivity"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".notifaction.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifaction.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UsersProfileActivity"
            android:label="@string/title_activity_users_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserTaskDetailsActivity"
            android:label="@string/title_activity_user_task_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ComposeEmailActivity"
            android:label="@string/title_activity_user_task_details"
            android:theme="@style/AppTheme_" />
        <activity
            android:name=".activity.TaskCommentActivity"
            android:theme="@style/AppTheme_" />
        <activity
            android:name=".activity.AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c77502c4195e533f8263ffff4c31bc773e344a2a" />
    </application>

</manifest>